Package: gopro-tool
Version: PACKAGE_VERSION
Section: video
Priority: optional
Architecture: all
Essential: no
Installed-Size: INSTALLED_SIZE
Maintainer: https://github.com/juchem/gopro-tool
Description: A tool to control GoPro webcam mode in linux.
